{% extends 'base2.html' %}

{% block title %}
Добавление лота
{% endblock %}

{% block body %}
<h1 class="container">Добавление лота</h1>
<form method="post">
    <input type="text" class="container form-control" name="title" id="title" placeholder="Введите название"><br>
    <input type="text" class="container form-control" name="price" id="price" placeholder="Введите цену"><br>
    <input type="datetime-local" class="container form-control" name="time" id="time"><br>
    <button class="btn btn-success" type="submit">Добавить товар</button>
</form>
{% endblock %}